- if @user
  %h1 Głosowanie na Prowadzącego Roku 2017 na Wydziale Informatyki i Zarządzania
  = form_for @vote, url: { action: "vote" } do |f|
    = f.collection_select(:lecturer_id, Lecturer.all, :id, :full_name)
    = f.hidden_field(:token, value: @user.token)
    = f.submit "Zagłosuj"
- else
  %h1 Nie oszukuj :(
  %p Nie podałeś tokena upoważniającego Cię do głosowania albo został on zużyty.
