Cześć!
Znasz prowadzącego, który twoim zdaniem doskonale prowadzi zajęcia, nie jest nudny i naprawdę potrafi wyjaśnić o co chodzi? A może ktoś Ci po prostu imponuje? Właśnie w tej chwili możesz mu pomóc zdobyć tytuł „Najlepszego Prowadzącego – 2017”! 
W tym roku ponownie startuje projekt „Najlepszy prowadzący” organizowany przez Samorząd Studencki Wydziału Informatyki i Zarządzania. W dniach 5-11 czerwca masz możliwość zagłosować na jednego prowadzącego z naszego wydziału. Po zakończeniu głosowania zsumujemy wszystkie głosy – osoba, która otrzyma najwięcej głosów na twoim kierunku zostanie przez nas wyróżniona i otrzyma tytuł „Najlepszego Prowadzącego – 2017” twojego kierunku!

Nie zwlekaj! Niech najlepszy odzyska swoją nagrodę!

Link do głosowania:
http://pr2017.naizecie.pl/vote?token=#{@user.token}

Pozdrawiamy!
Samorząd Studencki WIZ
